---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404: Not Found">
  <main class="default-404">
    <h1>404</h1>
    <p>Page Not Found</p>
  </main>
</Layout>

<style>
  .default-404 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: system-ui, sans-serif;
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 0.5rem;
  }
</style>
