---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import FAQSection from "../components/FAQSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />
  <main>
    <FAQSection />
  </main>
  <Footer />
</Layout>
