---
/**
 * Página: Formulário (Contato)
 *
 * O que faz:
 * Monta a página dedicada de contato (Formulário complexo) com a estrutura padrão.
 * Destaque técnico: Esta página passa uma string de texto personalizada ('Entre em Contato...')
 * através de uma propriedade (prop) direto para o componente <Layout>, o que permite alterar
 * dinamicamente o título que aparece na aba do navegador do usuário.
 *
 * Onde é usado:
 * Acessível via rota no navegador pela URL `/formulario`.
 */

import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";
import Form from "../components/Form.astro";
import Footer from "../components/Footer.astro";
import FloatingButtons from "../components/FloatingButtons.astro";
---

<Layout title="Entre em Contato - Papa Óleo">
  <Header />

  <main>
    <Form />
  </main>

  <Footer />

  <FloatingButtons />
</Layout>
