---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ContactForm from "../components/ContactForm.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />

  <main>
    <ContactForm />
  </main>

  <Footer />
</Layout>
