---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import HeroSection from '../components/HeroSection.astro';
import BentoGrid from '../components/BentoGrid.astro';
import FlavorCarousel from '../components/FlavorCarousel.astro';
import ActivationsSection from '../components/ActivationsSection.astro';
//import SocialSection from '../components/SocialSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navigation />
  <main>
    <HeroSection />
    <BentoGrid />
    <FlavorCarousel />
    <ActivationsSection />
  </main>
  <Footer />
</Layout>