---
/**
 * Página Mestra: Home (Início)
 *
 * O que faz:
 * Esta é a página vital e mais importante do projeto. A "capa da revista".
 * Ela empilha de forma estritamente sequencial, quase como blocos de Lego, diversos
 * componentes isolados (Hero, HowWork, Service, etc) para formar a "Landing Page"
 * espetacular, rica e ininterrupta da Papa Óleo.
 *
 * Onde é usado:
 * É renderizada imediatamente quando o cliente acessa a rota base (raiz) da URL `/`.
 */

import Layout from "../layouts/Layout.astro";

import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import HowWork from "../components/HowWork.astro";
import Service from "../components/Service.astro";
import Coverage from "../components/Coverage.astro";
import HowRecycle from "../components/HowRecycle.astro";
import NewsSection from "../components/NewsSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Header />

  <main>
    <Hero />

    <HowWork />

    <Service />

    <Coverage />

    <div class="continuous-bg noise-overlay">
      <div class="bg-gradient-overlay"></div>

      <div
        class="bg-blob blob-green"
        style="top: 5%; left: 5%; width: 10rem; height: 10rem;"
      >
      </div>
      <div
        class="bg-blob blob-yellow"
        style="top: 20%; right: 5%; width: 12rem; height: 12rem;"
      >
      </div>
      <div
        class="bg-blob blob-green"
        style="bottom: 30%; left: -5%; width: 15rem; height: 15rem;"
      >
      </div>
      <div
        class="bg-blob blob-yellow"
        style="bottom: 5%; right: -5%; width: 20rem; height: 20rem;"
      >
      </div>

      <HowRecycle />

      <NewsSection />
    </div>
  </main>

  <Footer />
</Layout>
