---
import "../styles/global.css";
import FloatingButtons from "../components/FloatingButtons.astro";

const canonicalURL = new URL(Astro.url.pathname, Astro.site || Astro.url);
---

<!doctype html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Papaóleo Coleta</title>

    <link rel="canonical" href={canonicalURL} />

    <meta
      name="description"
      content="Agende a coleta do seu óleo de cozinha usado. Região Metropolitana e Litoral do RS."
    />

    <link rel="icon" type="image/svg+xml" href="/favicon_v2.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=JetBrains+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Papa Óleo - Coleta de Óleo",
        "image": "https://www.seudominio.com.br/images/logo_v1.svg",
        "url": "https://www.seudominio.com.br",
        "telephone": "+555196319035",
        "areaServed": {
          "@type": "GeoCircle",
          "geoMidpoint": {
            "@type": "GeoCoordinates",
            "latitude": "-30.0346",
            "longitude": "-51.2177"
          },
          "geoRadius": "100000"
        },
        "description": "Serviço de coleta e logística de óleo de cozinha usado para restaurantes, residências, condomínios e indústrias na Região Metropolitana e Litoral do RS."
      }
    </script>
  </head>
  <body>
    <slot />

    <FloatingButtons />
  </body>
</html>
